.m-0{
    margin: 0;
}

.mx-1{
    margin-left: 4px;
    margin-right: 4px;
}

.my-1{
    margin-top: 4px;
    margin-bottom: 4px;
}

.mx-2{
    margin-left: 8px;
    margin-right: 8px;
}

.my-2{
    margin-top: 8px;
    margin-bottom: 8px;
}

.mx-3{
    margin-left: 12px;
    margin-right: 12px;
}

.my-3{
    margin-top: 12px;
    margin-bottom: 12px;
}

.mx-4{
    margin-left: 16px;
    margin-right: 16px;
}

.my-4{
    margin-top: 16px;
    margin-bottom: 16px;
}

.mx-5{
    margin-left: 20px;
    margin-right: 20px;
}

.my-5{
    margin-top: 20px;
    margin-bottom: 20px;
}

.mx-6{
    margin-left: 24px;
    margin-right: 24px;
}

.my-6{
    margin-top: 24px;
    margin-bottom: 24px;
}

.mx-7{
    margin-left: 28px;
    margin-right: 28px;
}

.my-7{
    margin-top: 28px;
    margin-bottom: 28px;
}

.mx-8{
    margin-left: 32px;
    margin-right: 32px;
}

.my-8{
    margin-top: 32px;
    margin-bottom: 32px;
}

.mx-16{
    margin-left: 64px;
    margin-right: 64px;
}

.my-16{
    margin-top: 64px;
    margin-bottom: 64px;
}

.m-1{
    margin: 4px;
}

.m-2{
    margin: 8px;
}

.m-3{
    margin: 12px;
}

.m-4{
    margin: 16px;
}

.m-5{
    margin: 20px;
}

.m-6{
    margin: 24px;
}

.m-7{
    margin: 28px;
}

.m-8{
    margin: 32px;
}

.m-16{
    margin: 64px;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.my-auto{
    margin-top: auto;
    margin-bottom: auto;
}

.m-auto{
    margin: auto;
}

.mt-16{
    margin-top: 64px;
}

.pl-0{
    padding-left: 0;
}

.pl-1{
    padding-left: 4px;
}

.pl-2{
    padding-left: 8px;
}

.pl-3{
    padding-left: 12px;
}

.pl-4{
    padding-left: 16px;
}

.p-0{
    padding: 0;

}

.p-1{
    padding: 4px;
}

.p-2{
    padding: 8px;
}

.p-3{
    padding: 12px;
}

.p-4{
    padding: 16px;
}

.text-center{
    text-align: center;
}