/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */

 .content {
    padding-top:    2rem;
    padding-bottom: 2rem;
  }
  
  @media (min-width: 48em) {
    .content {
      max-width: 38rem;
      margin-left: 2rem;
      margin-right: 1.75rem;
    }
  }
  
  @media (min-width: 64em) {
    .content {
      max-width: 46rem;
      margin-left: 2rem;
      margin-right: 1.75rem;
    }
  }
  